---
import BaseHead from '../_layouts/components/baseHead.astro';
import Footer from '../_layouts/components/footer.astro';
import StyleHead from '../_layouts/style.astro';
import ToolBar from '../_layouts/toolBar.astro';

// console.log('Layout.astro: 渲染进程已启动。');
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <StyleHead />
        
    </head>
    <body>
        <div class="page-main" id="page-main">
            <BaseHead />
            <ToolBar />
            <main>
                <slot /></main>
            <div class="null"></div>
            <Footer />

        </div>
        <script is:inline src="https://cdn.jsdelivr.net/npm/twikoo@1.7.7/dist/twikoo.min.js"></script>
        <script is:inline src="https://apps.bdimg.com/libs/jquery/4.0.0/jquery.min.js" />
        <script is:inline src="https://kit.fontawesome.com/5c03f39170.js" crossorigin="anonymous"></script>
        <script is:raw src="/js/main.js"></script>
    </body>
</html>