---
import BaseHead from '../_layouts/components/baseHead.astro';
import Footer from '../_layouts/components/footer.astro';

console.log('这段代码在你的终端运行，而不是在浏览器中！');
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="page-main" id="page-main">
            <BaseHead />
            <main><slot /></main>
            <Footer />
        </div>
    </body>
</html>