---

---

<div id="page-main" class="page-main">
            
</div>
<nav id="nav" class="nav">
            
</nav>
<main id="main" class="main">
    <h1>HIS</h1>
    <div class="say-item">
        <div class="say-item-avatar">
            <span class="avatar-text">You show off roses to evenyone. How do you end up when you wither? </span>
            <span class="author-name">Unknown</span>
            <time datetime="2026-4-20 10:58:40"></time>
            <div class="say-item-comment"></div>
        </div>
    </div>
</main>
<footer>

</footer>